/* app css stylesheet */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic);

* {
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

.menu {
    list-style: none;
    
}

.menu > li {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding: 0 8px 0 8px;
      -webkit-transition: background-color  500ms ;
     transition: background-color 500ms ;
}

.menu > li:hover {
    background-color: rgba(255,255,255,0.1);
      -webkit-transition: background-color  500ms ;
     transition: background-color 500ms ;
}

.map {
    width: 800px;
    height: 600px;
}

.toolbox {
    z-index: 99999;
    height: 60px;
    width: 100%;
    background:#5D4037;
    color:#FFFFFF;
    padding: 0 50px; 0 50px;
    top: 0;
    -webkit-box-shadow: 0px 4px 34px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 4px 34px 0px rgba(0,0,0,0.69);
    box-shadow: 0px 4px 34px 0px rgba(0,0,0,0.69);
    position: fixed;
}

.cover {
    height:500px;
    
    background-color: #795548;
}

.cover>h1 {
        font-size: 70px;
        font-weight: 200;
        color: #FFFFFF;
        text-align: center;
        padding-top: 120px;
        color: rgba(255,255,255,1);
}

.cover>h2 {
     font-size: 30px;
    color: #d7ccc8;
    font-weight: 200;
    text-align: center;
}


a {
     color:#FFFFFF;
    text-decoration: none;
}

.dark-primary-color{background:#5D4037;}
.default-primary-color{background:#795548;}
.light-primary-color{background:#D7CCC8;}
.text-primary-color{color:#FFFFFF;}
.accent-color{background:#4CAF50;}
.primary-text-color{color:#212121;}
.secondary-text-color{color:#727272;}
.divider-color{border-color:#B6B6B6;}

.logo {    
    height: 50px;
    width: 50px;
    background-image: url(favicon.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}



.content {
    margin: 0 50px 0 50px;
    padding: 20px;
    color: #727272;
}

.content>h2 {
    color: #212121;
    font-weight: 300;
}

.content-padding {
  margin-top: 60px;
}


footer {
	text-align: center;
  padding: 16px;
  position: relative;
    background: #b6b6b6;
/*  background: rgb(37, 50, 56);*/
  color:#212121;
}


.content-height {
    height: 700px;
}

input {
    border: 1px solid gray;
}

button {
     border: 1px solid gray;
}